body{
    overflow-y: scroll;
    overflow-x: hidden;
}
.top-header{
    background-color: #316DC3;
    padding-top: 10px;
    color: white;
}
i {
    color: white;
}
.social i{
    margin-left: 15px;
}
.top-header p{
    text-align: right;
}
.top-header button{
    background-color: white;
    font-size: smaller;
    float: right;
    margin-left: 5px;
}
.social .col-md-12 .col-sm-12{
    display: inline-block;
    text-align: center;
}
.top-header p .col-md-12{
    text-align: center;
}
.top-header p .col-sm-12{
    text-align: center;
}
.top-header button .col-md-12{
    margin-left: auto;
    margin-right: auto;
}
.fixed-header{
    padding-top: 10px;
}
.main_navigation{
    float: right;
}
.main_navigation ul li .btn-primary{
    border-radius: 20px;
    padding: 8px;
    background-color: rgb(56, 109, 184);
}
li.nav-item.active button.btn.btn-primary.nav-link{
    color: white;
}
li.nav-item:hover{
    background-color: #316DC3;
    border-radius: 20px;
    color: white;
    padding: 0px;
}
li.nav-item a.btn.btn-primary.nav-link:hover{
    color: white;
}
a#navbarDropdown.nav-link.dropdown-toggle{
    font-size: small;
}
li.nav-item a.btn.nav-link{
    color: black;
}
li.nav-item a.btn.nav-link:hover{
    color: white;
}
a.btn.nav-link{
    font-size: small;
}
li.nav-item.active a.btn.btn-primary.nav-link{
    color: white;
}
a#navbarDropdown.nav-link.dropdown-toggle{
    color: black;
}
a#navbarDropdown.nav-link.dropdown-toggle:hover{
    color: white;
}
.marquee_style{
    background-color: #316DC3;
    color: white;
    font-size: smaller;
    padding: 5px;
}
.green{
    color: #4EAB66;
}
.carousel-item img{
    height: 600px;
}
.intro_header{
    text-align: center;
    font-family: 'Merriweather', serif;
}
.intro{
    color: #316DC3;
    font-weight: 900 !important;
}
.duction{
    color: #427900 !important;
    font-weight: 900 !important;
}
.intro_logo{
    margin-left: 45%;
    margin-right: 40%;
}
.dash{
    color: #427900;
    text-decoration-style: solid;
    font-weight: 900 !important;
}
.para{
    text-align: justify;
    color: #666666;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    margin-left: 9%;
    margin-right: 9%;
}
.counter_div{
    background-color: #2B5CE9;
    padding: 5%;
}
.counter_title{
    color: #4EAB66;
    font-size: 18px;
}
.count-text{
    font-size: 14px;
    font-weight: 600 !important;
    color: #fff !important;
    font-family: 'Merriweather', serif;
    line-height: 1.42857143;

}
.count-number{
    font-size: 3rem !important;
    font-weight: 500 !important;
    color: #fff !important;
    font-family: 'Merriweather', serif;
    line-height: 1.42857143;
}
.mb-30{
    margin-bottom: 30px !important;
}
.p-30{
    padding: 30px !important;
}
.font-weight-600{
    font-weight: 600 !important;
    font-family: 'Merriweather', serif;
    line-height: 1.42857143;
    color: #316DC3;
    margin-top: 20px !important;
}
.srvice_container{
    background-color: #F7F8FA;
}
.pb-30{
    padding-bottom: 30px !important;
    padding-top: 60px;
    background-color: white;
}
.mt-0{
    margin-top: 0!important;
}
.line-bottom{
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 10px;
    color: #316DC3;
    font-weight: 600 !important;
    font-family: 'Merriweather', serif;
    line-height: 1.42857143;
}
.line-bottom:after {
    bottom: -1px;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 50px;
}
.icon-box.left {
    text-align: left;
}
.media:first-child {
    margin-top: 0;
}
.mb-20 {
    margin-bottom: 20px !important;
}
.p-15 {
    padding: 15px !important;
}
.border-1px {
    border: 1px solid #eeeeee !important;
}
.bg-silver-light {
    background-color: #f7f8fa !important;
}
.icon-box.left a {
    margin-right: 30px;
    padding: 0;
}
.pull-left {
    float: left!important;
}
.media-left, .media-right {
    display: table-cell;
    vertical-align: top;
}
html a {
    -webkit-font-smoothing: antialiased;
}
a {
    color: #808080;
    text-decoration: none;
}
a {
    background-color: transparent;
}
a img {
    border: none;
}
img {
    max-width: 100%;
}
img {
    vertical-align: middle;
}
.media-body, .media-left, .media-right {
    display: table-cell;
    vertical-align: top;
}
.media-body {
    width: 10000px;
}
.font-15 {
    font-size: 17px !important;
}
.text-uppercase {
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #316DC3;
    font-weight: 600 !important;
    font-family: 'Merriweather', serif;
    line-height: 1.42857143;
}
.bg-white{
    background-color: white;
}
.projects_dash{
    color: #427900;
    text-decoration-style: solid;
    font-weight: 900 !important;
    margin-top: -20%;
}
.line-bottom {
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 10px;
}
.border-bottom {
    border-bottom: 1px solid #eeeeee !important;
}
h3 {
    font-family: 'Merriweather', serif;
    font-weight: 600;
    line-height: 1.42857143;
    color: #316DC3;
}
h3, .h3 {
    font-size: 24px;
}
.up_marquee{
    color: #808080;
    font-size: 14px;
}
.gallery-isotope.grid-5 .gallery-item {
    width: 90%;
}
.gallery-isotope.gutter-small .gallery-item {
    padding-right: 2px;
    padding-bottom: 2px;
}
.gallery-isotope .gallery-item {
    overflow: hidden;
}
.gallery-isotope .gallery-item .thumb {
    position: relative;
    overflow: hidden;
}
.img-fullwidth {
    width: 100% !important;
}
/* img {
    vertical-align: middle;
} */
.gallery-isotope .gallery-item .overlay-shade {
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    top: 0;
    left: 0;
    width: 100%;
    height: 155px;
    z-index: 12;
    background-color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;

    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-font-smoothing: antialiased;
    line-height: 1.7;
    color: #666666;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}
.gallery-isotope .gallery-item:hover .overlay-shade {
    border: 8px solid #eeeeee;
    opacity: 0.9;
}
.gallery-isotope .gallery-item .icons-holder {
    position: absolute;
    top: -12%;
    left: 50%;
    display: inline-block;
    width: auto;
    height: 12px;
    vertical-align: middle;
    z-index: 130;
    transition: all 0.3s ease-in-out;
}
.gallery-isotope .gallery-item .icons-holder .icons-holder-inner a {
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
.gallery-isotope .gallery-item .icons-holder .icons-holder-inner {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: -18px 0 0 -50%;
}
.styled-icons{
    display: inline-block;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.styled-icons.icon-sm a {
    font-size: 13px;
    height: 30px;
    line-height: 30px;
    margin: 2px 7px 2px 0;
    width: 30px;
}
.styled-icons.icon-circled a {
    border-radius: 50%;
}
.gallery-isotope .gallery-item:hover .icons-holder {
    top: 25%;
}
.gallery-isotope .gallery-item:hover .icons-holder .icons-holder-inner a {
    opacity: 1;
}
.icon-theme-colored.icon-dark a {
    /* background-color: #F26522; */
    background-color: #316DC3;
    color: #fff;
    padding: 10px;
}
.pb-40 {
    padding-bottom: 40px !important;
}
.pt-70 {
    padding-top: 70px !important;
}
.border-bottom-black{
    border-bottom: black;
}
.widget {
    margin-bottom: 30px;
}
.mb-20 {
    margin-bottom: 20px !important;
}
.mt-5 {
    margin-top: 5px !important;
}
.bg-black-333 {
    background-color: #316DD9 !important;
}
.pb-10 {
    padding-bottom: 10px !important;
}
.pt-15 {
    padding-top: 15px !important;
}
.m-0 {
    margin: 0px !important;
}
.font-11 {
    font-size: 11px !important;
}
.m-0 {
    margin: 0px !important;
}
.no-border {
    border: none !important;
}
.mt-5 {
    margin-top: 5px !important;
}
.scrollToTop {
    background: rgba(0, 0, 0, 0.1);
    bottom: 15px;
    display: none;
    height: 50px;
    padding: 2px;
    position: fixed;
    right: 15px;
    text-align: center;
    text-decoration: none;
    width: 50px;
    z-index: 99999;
}
.scrollToTop i {
    color: #fff;
    font-size: 42px;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.text-theme-colored{
    color: green;
}
.widget .styled-icons li {
    margin-bottom: 0;
    padding-bottom: 0;
}
.styled-icons li {
    display: inline-block;
    margin-top: 0;
}
.icon-theme-colored.icon-dark a {
    background-color: #316DC3;
    color: #fff;
}
.styled-icons.icon-sm a {
    font-size: 13px;
    height: 30px;
    line-height: 30px;
    margin: 2px 7px 2px 0;
    width: 30px;
}
.icon-circled{
    border-radius: 60%;
}
/* .nav-item{
    font-size: small;

} */
.nav-item:hover{
    color: white;
}